# Build directories
_build/

# Jupyter Book cache
.jupyter_cache/

# Jupyter checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data files
*.csv
*.nwb
*.mat

# Cache and manifest files
*.json
*.log
manifest.json
nwb-cache/

# Allen SDK data
cell_types/
connectivity/
Chapter_8/connectivity

# Temporary clones
jPCA/

# Old files
Working_with_NWB_format_in_Python_34_2.png
Obtaining_Datasets_with_DANDI.doctree
